<!DOCTYPE html>
<html lang="en">

<head>
  <meta charSet="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div>
    <h1>Sign in</h1>
    <Form method="post">
      <label>
        Email:
        {% if errors.as_ref().is_some() ~%}
        <span>{{ errors.as_ref().unwrap().email }}</span>
        {%~ endif %}
        <input name="email" type="email" />
      </label>
      <br />
      <button type="submit">
        Sign in
      </button>
    </Form>
  </div>
  <script src="/assets/htmx.js"></script>
</body>

</html>
